<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head id='app'>

<body id="app">
    <ul>
        <li v-for='item in listData'>
            <span>{{item.filename}}</span>
            <button @click='getLog(item.filename,1)'>查看</button>
            <button @click='getLog(item.filename,2)'>下载</button>
        </li>
    </ul>
    <ul>
        <li>日志记录</li>
        <li v-for='item in detailList'>
            <pre>
                    {{item}}
                </pre>
        </li>
    </ul>
</body>
<script src="./javascripts/vue.js "></script>
<script src="./javascripts/vue-resource.js ">
</script>
<script>
    const vm = new Vue({
        el: '#app ',
        data: {
            listData: [],
            detailList: []
        },
        methods: {
            getLogList() {
                this.$http.post('http://localhost:3001/getLogList', {}, {
                    emulateJSON: true
                }).then(data => {
                    this.listData = data.data
                })
            },
            getLog(item, num) {
                this.$http.post('http://localhost:3001/getLog', {
                    fileName: item,
                    type: num
                }, {
                    emulateJSON: true
                }).then(data => {
                    console.log('rizhiliebain', data.data)
                    if (num == 1) {
                        this.detailList = data.data
                    }
                })
            }
        },
        created() {
            this.getLogList()
        },
        // ready(){
        //     this.$http
        // }
    })
</script>

</html>